<strong>Ola,{{prestador}}</strong>
<p>Houve um cancelamento</p>
<p>
    <strong>Cliente:</strong>{{usuario}} <br/>
    <strong>Data/Hora:</strong>{{data}} <br/>
    <br/>
    <small>horario disponivel</small>
</p>